* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.navBar {
    background-color: blue;
    padding: 1em 0 0 1em;
}

.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    margin: 0 0 0 3em;
    color: white;
}

.menu{
    font-family: 'Dancing Script', cursive;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    color: white;
}

.opcionMenu{
    padding: .5em;
    text-transform: uppercase;
}

.opcionMenu:hover {
    background-color: black;
}

.enlace:link, .enlace:visited, .enlace:active {
    color: white;
    text-decoration:none;
}

.cuerpoPrincipal {
    font-family: 'Dancing Script', cursive;
    color: white;
    width: 100%;
    min-height:100vh;
}

/* .......... Tienda .......... */

.grupotarjetas{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
}

.tarjeta {
 width: 20em;
 padding: 1em;
 margin: 2em;
 background-color: white;
 color: black;
 box-shadow: 6px 6px 10px red;
 transition: box-shadow .4s;
 border-radius: 10px;
}

.tarjeta:hover {
    box-shadow: 6px 6px 10px blue;
}

.foto {
    width: 100%;
    margin: 0 auto 2em auto;
    border-radius: 10px;
}

.genero, .articulo {
    width: 100%;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}

.articulo {
    font-size: 2em;
}

.adicional {
    width: 100%;
    text-align: center;
    margin: .5em;
    font-size: 1.1em;
}

.precio {
    width: 100%;
    text-align: right;
    margin: 1em 0 0 0;
    font-size: 2.5em;
}

.destacado {
    background-color: red;
}

